:root {
  --main-shadow: #fc0 1px 0 10px;
  --border-line: 5px solid #ffffff;
  --tictactoe-line-color: 5px solid #ffffff;
  --tictactoe-line-shadow: 0px 5px 10px #06ffa4, 0px -5px 10px #06ffa4;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180.2deg,
    rgb(120, 85, 137) 20%,
    rgb(35, 9, 31) 80%
  );
  margin: 0;
  background-repeat: round;
  color: white;
  text-shadow: var(--main-shadow);
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  text-shadow: none;
  padding: 1vh 0;
  height: 7vh;
  margin: 0;
}

footer {
  height: 6vh;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 70vw;
  height: 83vh;
  border: var(--border-line);
  border-radius: 30px;
  background-color: transparent;
  box-shadow: var(--main-shadow);
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  font-weight: bold;
}

.top-btn {
  cursor: pointer;
}
.fa-square-github {
  color: white;
  text-decoration: none;
}
.fa-square-github:visited {
  color: white;
  text-decoration: none;
}
.select-player {
  text-align: center;
}
.select-radio {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.scores {
  text-align: center;
  height: 8%;
}

.scores span {
  margin-left: 5vw;
  color: rgb(61, 61, 62);
}

.turn {
  background-color: rgb(246, 231, 171);
}

.btn-cross,
.btn-circle {
  width: 17%;
  height: 100%;
  border-radius: 30px;
  font-size: 1.6em;
  margin: 0;
  border: var(--border-line);
}

.gameInfo {
  margin: 8px 0;
  text-align: center;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.game-result {
  font-size: 9em;
  display: block;
  position: absolute;
  top: 35%;
  left: 13%;
  z-index: 10;
  margin: 0;
}

.tictactoe {
  background: rgb(13, 1, 39);
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  height: 50%;
  position: relative;
}

.tictactoe .box .tic-cross {
  color: rgb(249, 54, 102);
  text-shadow: rgb(249, 54, 102) 1px 0 10px;
}
.tictactoe .box .tic-circle {
  color: rgb(151, 113, 255);
  text-shadow: rgb(151, 113, 255) 1px 0 10px;
}

.lines .vertical1 {
  position: absolute;
  height: 95%;
  left: 33%;
  border: var(--tictactoe-line-color);
  box-shadow: var(--tictactoe-line-shadow);
}
.lines .vertical2 {
  position: absolute;
  height: 95%;
  left: 66%;
  border: var(--tictactoe-line-color);
  box-shadow: var(--tictactoe-line-shadow);
}

.lines .horizontal1 {
  position: absolute;
  width: 95%;
  top: 33%;
  border: var(--tictactoe-line-color);
  box-shadow: var(--tictactoe-line-shadow);
}

.lines .horizontal2 {
  position: absolute;
  width: 95%;
  top: 66%;
  border: var(--tictactoe-line-color);
  box-shadow: var(--tictactoe-line-shadow);
}

.highLight {
  animation: 4s infinite font-color-change;
}
@keyframes font-color-change {
  0% {
    color: rgb(246, 255, 0);
  }
  10% {
    color: rgb(255, 208, 0);
  }
  20% {
    color: rgb(255, 145, 0);
  }
  30% {
    color: rgb(255, 77, 0);
  }
  40% {
    color: rgb(255, 30, 0);
  }
  50% {
    color: rgb(255, 30, 0);
  }
  60% {
    color: rgb(255, 77, 0);
  }
  70% {
    color: rgb(255, 145, 0);
  }
  80% {
    color: rgb(255, 208, 0);
  }
  90% {
    color: rgb(246, 255, 0);
  }
  100% {
    color: rgb(246, 255, 0);
  }
}

.square-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
}

.lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  cursor: pointer;
  flex: 1;
}

.btns-reset-and-restart {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  height: 5vh;
}

.bottom-btn {
  width: 20%;
  height: 100%;
  border: var(--border-line);
  box-shadow: 0 8px #999;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(91, 91, 91);
  margin: 0 2vw;
  transition: 0.2s;
  cursor: pointer;
}

.bottom-btn:hover {
  background-color: rgb(255, 204, 22);
}

.bottom-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 1500px) {
  .select-player {
    font-size: 20px;
  }
  .gameInfo {
    font-size: 30px;
  }
  .btn-cross,
  .btn-circle {
    font-size: 2.8em;
  }
  .tictactoe {
    height: 66%;
  }
  .box {
    font-size: 17em;
  }
  .btns-reset-and-restart {
    padding-top: 1%;
  }
  .game-result {
    font-size: 8em;
    left: 31%;
  }
}

@media screen and (min-width: 1200px) {
  .select-player {
    font-size: 20px;
  }
  .gameInfo {
    font-size: 30px;
    padding: 7px;
  }
  .btn-cross,
  .btn-circle {
    font-size: 2.1em;
  }
  .tictactoe {
    height: 46%;
  }
  .box {
    font-size: 5em;
  }
  .btns-reset-and-restart {
    padding-top: 1%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .select-player {
    font-size: 30px;
  }
  .select-radio {
    margin: 0 auto;
  }
  .scores {
    height: 8%;
  }
  .btn-cross,
  .btn-circle {
    width: 210px;
  }

  .tictactoe {
    height: 39%;
  }
  .gameInfo {
    font-size: 25px;
    padding: 5px;
  }
  .game-result {
    font-size: 5em;
    left: 21%;
  }
  .btns-reset-and-restart {
    padding-top: 2px;
  }
  .bottom-btn {
    width: 25%;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  :root {
    --tictactoe-line-color: 2px solid #ffffff;
  }
  .game-result {
    font-size: 4em;
    text-align: center;
  }
  .scores {
    height: 7%;
  }
  .btn-cross,
  .btn-circle {
    width: 24%;
  }
  .tictactoe {
    height: 36%;
  }
  .bottom-btn {
    width: 36%;
  }
  .box {
    font-size: 5em;
  }
  .gameInfo {
    font-size: 22px;
  }
  .select-radio {
    margin: 6px auto;
  }

  .select-player {
    width: 50%;
    margin: 0 auto;
  }
  .select-player b {
    font-size: 25px;
  }
  .bottom-btn {
    margin: 4% 0;
  }
}

@media screen and (max-width: 600px) and (max-width: 500px) {
  :root {
    --tictactoe-line-color: 1.5px solid #ffffff;
  }
  .container {
    height: 79vh;
  }
  .box {
    font-size: 4em;
  }
  .bottom-btn {
    width: 40%;
  }
  .btn-cross,
  .btn-circle {
    width: 29%;
  }
}

@media screen and (max-width: 500px) {
  .box {
    font-size: 5em;
  }
  .btn-cross,
  .btn-circle {
    width: 35%;
  }
  .tictactoe {
    height: 40%;
  }
  .btns-reset-and-restart {
    padding-top: 10%;
  }
  .game-result {
    font-size: 5em;
    text-align: center;
  }
}
/* 1200px;
768px

400px */
